@media (min-width: 550px) {
    .column {
        width: 100%;
        float: left;
        box-sizing: border-box; }

    .small.column { width: 25%; }
    .large.column { width: 75%; }
}

.rc-slider-handle-1{
    background-color: orange;
}

.rc-slider-handle-2{
    background-color: red;

}